<!DOCTYPE html>
<html>
    <head>
        <title>About | DropDeadRails</title>
    </head>
    <body>
        <h1> About </h1>
        <p>
            Eric Morse is a 5th year software engineering student, and created this webapp to play the drop dead dice game for CIS3260 A2.
        </p>
    </body>
</html>
