<!DOCTYPE html>
<html>
    <head>
        <title>Home | DropDeadRails</title>
    </head>
    <body>
        <h1>DropDeadRaisl</h1>
        <p>
            This is the home page for the
            <a href="https://dropdeadrails.onrender.com/"> Drop Dead Rails Program</a>
            for assignment 2 developed by Eric Morse.
        </p>
    </body>
</html>
